{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container mt-5'>

  <div class="container">
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src='{% static 'assets/singlekey_logo.png' %}' width="90" height="40" alt="">
      </a>
      <button type="button" class="btn btn-outline-primary mx-5"> Log in </button>
    </nav>
  </div>

  <div class="container">
    <h3> <b> Submit information </b> </h3>
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-sm-8">
        <form method='POST'>
          <div class="form-group mt-3">
            <label for="exampleFormControlInput1"> <b> Applicant name </b> </label>
            <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Applicant name">
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlInput1"> <b> Email address </b> </label>
            <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Email address">
          </div>
          <br>
          <br>
          {% csrf_token %}
          <div>
            <button type='supmit' class='btn btn-secondary'> Submit </button>
          </div>
        </form>

        <hr>

        <h3> Submissions </h3>

        {% if results %}
        <div class='text-center mt-5 d-md-none d-block'>
            {% for i in results %}
              <div class='text-left mb-3 p-4 results-card'>
                <b>{{ i.name }}</b><br>
                <b>{{ i.email }}</b>
              </div>
            {% endfor %}
          {% endif %}
        </div>

        {% if results %}
          <div class="w-100 results-card rounded-top mt-5 d-none d-md-flex">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col"> Applicant </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Status </th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in results %}
                    <tr> 
                      <td> <b> {{ i.name }} </b> </td>
                      <td> <b> {{ i.email }} </b> </td>
                      <td> <b> {{ i.status }} </b> </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        {% endif %}
      </div>

      <div class="col-6 col-sm-4">
        <div class="card selection gradient mt-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title white-text"> Hello Alex </h5>
            <p class="card-text white-text"> Here is a quick summary of your activity so far. If you have any questions about your report feel free to book a call with us. </p>
            <button type="button" class="btn btn-outline-light white-text"> Book a call </button>
          </div>
        </div>

        <div class="card selection mt-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> Rent Guarantee </h5>
            <p class="card-text"> Never miss a rent payment! Learn how our Rent Guarantee Program protects your property and rental income so you can take the risk out of renting </p>
            <button type="button" class="btn btn-outline-secondary"> Start now </button>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer mx-5">
          <h6> All rights reserved SingleKey 2021 </h6>
        </div>
      </footer>
    </div>
  </div>

</div>
{% endblock %}
